.landing-page{
    margin-top: 100px;
    // background-image: image('https://www.rasmussen.edu/-/media/images/blogs/school-of-business/2020/what-can-you-do-with-a-supply-chain-managment-degree-s.jpg');

}

#landing-div{
    height: 100vh;
    background-image: url('https://cdn.hipwallpaper.com/i/6/17/jLm536.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.paragraph{
    box-shadow: 3px 2px 3px 2px #888888;
}

