#about-page{
    height: 100vh;
    margin: 30px 50px 50px 30px;
    
    
}

#about-paragraph-div{
    width: 50%;
    text-align: center;
    
}


#commitments-div{
    display: flex;
}


#commitments-div > img{
    
}

.commitments-image{
    width: 100px;
    
}

.single-commitment{
    text-align: center;
    width: 350px;
    
}


